header{
    .carousel-inner{
        h1 {
            font-family: $letraEspecial;        /****** fuente elegida *****/
            font-size: 90px;  
            margin: 20px; 
            font-weight: 500; 
            color: rgb(139, 15, 15);
        }
        h2{       
            font-family: $letraEspecial;    
            font-size: 50px;  
            margin: 20px; 
            font-weight: 400;
            color: black;
        }
    }
}